{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% endblock %}
    
    {% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='extended.css') }}"/>
    
    <div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" style="color: red;">
        <h1>{{ message }}</h1>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="remember" id="remember">
            <label class="form-check-label" for="remember">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
